
/*.wrapper, body {position: relative;}
.wrapper{overflow: hidden}*/
nav{position: absolute;right: 0; z-index: 99;}
nav .btn-menu{width: 40px;height: 40px;position: absolute;padding: 0 0 0 10px; right:18px;top:0px;overflow: hidden;}
nav .btn-menu::after{content: '';position: absolute;top:0;left: 0;width: 3px;height: 40px;background: #333;}
nav .btn-menu span{font-size: 17px;line-height: 20px; letter-spacing: 2px; color:#333;width: 20px;height: 20px;float: left;overflow: hidden;}
nav .btn-menu span em{font-weight: 700;transition:all ease-out 0.3s;display: block;white-space: nowrap;width: 40px;text-align: center;margin-left:-2px;}
nav .menu-list{visibility: hidden;opacity: 0;position: fixed;top:0;left:0;width: 100%;height: 100%;text-align: center;transition:all .3s ease-out}
nav .menu-list h1{padding: 10vh 10vw 0;font-size: 20px}
nav .menu-list ul{padding: 10vh 10vw}
nav .menu-list ul li{position: relative;font-size: 35px;line-height: 40px;font-weight: 700; margin: 20px 0}
nav .menu-list ul li:after{content: '';position: absolute;left:0;top:85%;transform: scaleX(0); transform-origin: 0 50%;height: 1px;width: 100%;background:#444; transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s}
nav .menu-list ul li+li:after{transition-delay: 0.3s}
nav .menu-list ul li+li+li:after{transition-delay: 0.4s}
nav .menu-list ul li a{transition:all 0.3s ease-out}
nav.active .btn-menu span em{transform: translateX(-20px)}
nav.active .menu-list{visibility: visible;opacity: 1;background: #f5cece;color:#444;}
nav.active .menu-list ul li:after{transform: scaleX(1)}
nav.active .menu-list ul li:hover a{color:#888}
nav.active .menu-list ul li:hover:after{background: #888}
.cb{clear: both}
[class*=" icon-"], [class^=icon-] {font-family: icomoon!important;speak: none;font-style: normal;font-weight: 400;font-variant: normal;text-transform: none;line-height: 1;}
*, [class*=" icon-"], [class^=icon-] {-webkit-font-smoothing: antialiased;    -moz-osx-font-smoothing: grayscale;}
.icon-arrow:before{content:"\e900"}
.icon-close .path1:before{content:"\e901";color:#000}
.icon-close .path2:before{content:"\e902";margin-left:-1em;color:#fff}
.icon-zoom .path1:before{content:"\e903";color:#000}
.icon-zoom .path2:before{content:"\e904";margin-left:-1em;color:#fff}
.icon-logoSticky:before{content:"\e905"}
.icon-logo:before{content:"\e906"}
body.page-template-tpl-identity {background-color: #000;}
body.page-template-tpl-workshop {background-color: #000;}
#preload {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden;
  display: none;
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 11;
  font-size: 100px;
  line-height: 100px;
  color: #000;
  text-align: center;
}
.wrap {margin: 0 auto;position: relative;width: 100%;padding: 0 14px;max-width: 976px;}
#open_preload{position: fixed;top:0;left:0;right:0;bottom:0;z-index: 999}
#open_preload .left{position: absolute;left:0;width: 50%;height: 100%;overflow: hidden;}
#open_preload .right{position: absolute;left:50%;width: 50%;height: 100%;overflow: hidden;}
#open_preload .bg{position: absolute;top:0;left:0;right:0;bottom:0;background: #000;overflow: hidden;}
#open_preload .text{position: absolute;top:50%;color:#fff;font-size: 20px;line-height: 50px;margin-top:-25px;}
#open_preload .left .text{right: 0;transform: translateX(102%);font-size: 40px;letter-spacing: 10px;font-family: GTSectraDisplay-Light,Helvetica,Arial,sans-serif;}
#open_preload .right .text{left: 0;transform: translateX(-102%);font-size: 11px;margin-top:-20px;text-transform: uppercase;letter-spacing: 2.5px;font-family: Maison Neue Book,Helvetica,Arial,sans-serif}
#open_preload .center_line{position: absolute;position: absolute;left: 50%;height:0;bottom:0;width: 1px;background: #333;}


.container{overflow: hidden;}
.container.home{min-height: 100vh}

.container .inner{padding: 50px 0 0;max-width: 1000px;margin: 0 auto;}
.container .center{text-align: center}

.container.home .slide{position: absolute;top:0;left:0;width: 100%;height: 100%;}
.container.home .slide ul{position: relative;width: 100%;height: 100%;}
.container.home .slide ul li{position: absolute;background: #f3eaea; top:0;left:0;width: 100%;height: 100%;opacity: 0;visibility: hidden;}
.container.home .slide ul li.active{opacity: 1;visibility:visible;}
.container.home .slide ul li a{position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);}
.container.home .slide ul li a h2{position: relative;text-shadow: 1px 1px 7px #aaa;}
.container.home .slide ul li a h2 em{transition: all 0.3s ease-out;font-size: 80px;font-weight: 900;line-height: 90px;color:#333;letter-spacing: 1px; display:inline-block;opacity: 0}

.container.home .slide ul li a:hover h2:before{width: 100%;}
.container.home .slide ul li a:hover h2:after{opacity: 1;}
.container.home .slide ul li a h2:before{content: ''; position: absolute;bottom:-2px; left: 0;height: 2px;background: #fb9898;width: 0;transition:all 0.2s ease-out;}
.container.home .slide ul li a h2:after{content: 'go'; position: absolute;bottom:-17px; right: 0;opacity: 0;font-size: 12x;font-weight:700;line-height: 18px;height: 17px; padding: 0 5px; color:#fb9898;background: #333;transition:all 0.3s ease-out;}
.container.home .slide ul li >div{position: absolute;overflow: hidden;}
.container.home .slide ul li >div >span{background: #000;text-align: center;  transform: translate(-100%,0); display: block;
  width: 120%;height: 120%;margin: -10% 0 0 -10%}
  .container.home .slide ul li >div.h100 >span{opacity: 0.5;position:absolute;top:0;left:0;right:0;bottom:0;}
  .container.home .slide ul li >div.h100 >span:first-child{opacity: 1;position: relative}
.container.home .slide ul li >div >span img{width: auto;height: auto;}
.container.about p{font-size: 17px;text-align: center;line-height: 22px;padding: 0 0 10px}
.container.about p em{font-weight: 700}
.container.about p img{max-width: 500px;width: 100%;}
.container.about{display:block;position: relative;clear: both;}
.container.about .half_line{position: absolute;top:65px;left:50%;margin-left:-1px;width:1px;height:2250px;background-color:#e2e2e2;opacity: 0; }
.container.about .half_line:before{content:'';display:block;position:absolute;top:0;left:-3px;border:1px solid #c4c4c4;border-radius: 100%;background-color: #c4c4c4;width:5px;height:5px;}
.container.about .half_line:after{content:'';display:block;position:absolute;bottom:-2.5px;left:-3px;border:1px solid #d9d9d9;border-radius: 50%;background-color: #d9d9d9;width:5px;height:5px;}
.container.about .half_line.hide{opacity: 0 !important;}
.container.about .inner{padding: 50px 0}
.container.about .about_list{position: relative; margin: 0 auto 100px;}
.container.about .about_list:before {content:'';width:1px;height:100%;background:#333;position:absolute;left:50%;top:0px;}
.container.about .about_list ul {position: relative;padding-top: 35px; }
.container.about .about_list ul:before {content:'';width:5px;height:5px;background:#333;position:absolute;left:50%;top:0;margin-left:-2px;border-radius: 5px}
.container.about .about_list ul:after {content:'';width:5px;height:5px;background:#333;position:absolute;left:50%;bottom:0;margin-left:-2px;border-radius: 5px}
.container.about .about_list ul li {position:relative;  padding: 0 0 0 50%}
.container.about .about_list ul li .year_box {position:relative;}
.container.about .about_list ul li.left_box {text-align:right;  padding: 0 50% 0 0}
.container.about .about_list ul li.left_box .year_box {padding: 10px 85px 10px 0;}
.container.about .about_list ul li.left_box .year_box:before {content:'';width:3px;height:3px;border:1px solid #333;background:#f6f6f6;border-radius:5px;position:absolute;right:-3px;top:5px;z-index:2;}
.container.about .about_list ul li.left_box .year_box:after {content:'';width:75px;height:1px;position:absolute;right:0;top:7px;border-top:1px solid #ececec;}
.container.about .about_list ul li.right_box {text-align:left;}
.container.about .about_list ul li.right_box .year_box {padding: 10px 0 10px 85px;}
.container.about .about_list ul li.right_box .year_box:before {content:'';width:3px;height:3px;border:1px solid #333;background:#f6f6f6;border-radius:5px;position:absolute;left:-2px;top:5px;z-index:2;}
.container.about .about_list ul li.right_box .year_box:after {content:'';width:75px;height:1px;position:absolute;left:0;top:7px;border-top:1px solid #ececec;}
.container.about .about_list ul li .year_box .year {font-size:18px;color:#666;line-height:21px;margin-bottom:5px;}
.container.about .about_list ul li .year_box .year_text {font-size:16px;line-height:24px;letter-spacing: -0.5px;}

.container.about .center_ci{position: fixed;left:50%;top:258px;margin: -44px 0 0 -44px;width: 88px;height: 88px;border-radius: 100%;text-align: center;opacity: 1;background: #000;color:#fff;z-index: 2;}
.container.about .center_ci .ci{display:block;position: absolute;opacity: 0;}
.container.about .center_ci .ci.on{opacity: 1;}
.container.about .center_ci.on{position: fixed;left:50%;top:241px;}
.container.about .center_ci.over{position: absolute;left:50%;top:100%;}
.container.about .center_ci .ci_mask{overflow: hidden;width:88px;}
.container.about .center_ci>div{position: absolute;top:0;left:0;bottom:0;right:0;line-height: 88px;font-size: 20px;font-weight: bold;opacity: 0;}
.container.about .center_ci>div.active{opacity: 1;}
.container.about .center_ci>div.ci_xiilab em{color:#fe7511}
.container.about .center_ci>div.ci_does{color:#22CACE;}
.container.about .center_ci>div.ci_diware em{color:#007dc3}

.container.project .card{position: relative;font-size: 0;letter-spacing: 0;word-spacing: 0; box-shadow: 0px 0px 15px #999;margin:20px 4%;background: #fff;overflow: hidden;}
.container.project .card:before{content: '';position: absolute;right:0;top:0;width: 35%;bottom:0;background: #222;}
.container.project .card .card-content{position: relative; display: inline-block;height: 100%; width: 65%; padding: 20px;font-size: 15px;line-height: 20px;background: #fff;box-sizing: border-box}
.container.project .card .card-content .card-title{font-weight: 700;font-size:18px;padding: 0 0 10px;display: block;}
.container.project .card .card-img{position: relative;display: inline-block;width: 35%;text-align: center;background: #222;}
.container.project .card .card-img img{width: 80%;padding: 30px 0}
.container.project .card .card-content .period{padding-bottom:50px}
.container.project .card .card-content .more-view{position: absolute;bottom:20px;right:20px;padding:0 15px}

.container.project .card .card-content .more-view em{font-weight: 700;font-size: 15px;line-height: 30px;height: 30px}
.container.project .card.hover .card-content .more-view:before{transition:all 0.2s ease-out;width: 100%;}
.container.project .card.hover .card-content .more-view:after{transition:all 0.2s ease-out;height: 100%;}
.container.project .card.hover .card-content .more-view em:before{transition:all 0.2s ease-out;width: 100%;}
.container.project .card.hover .card-content .more-view em:after{transition:all 0.2s ease-out;height: 100%;}
.container.project .card .card-content .more-view:before{transition:all 0.2s ease-out; content: '';position: absolute;top:0;left:0;width: 0%;height: 3px;background: #333}
.container.project .card .card-content .more-view:after{transition:all 0.2s ease-out;content: '';position: absolute;top:0;right:0;width: 3px;height: 0%;background: #f5cece}
.container.project .card .card-content .more-view em:before{transition:all 0.2s ease-out;content: '';position: absolute;bottom:0;right:0;width: 0%;height: 3px;background: #f5cece}
.container.project .card .card-content .more-view em:after{transition:all 0.2s ease-out;content: '';position: absolute;bottom:0;left:0;width: 3px;height: 0%;background: #333}
.container.project-details .inner{padding: 50px 0 100px}
.container.project-details table{border-collapse: collapse;font-size:15px;line-height: 20px;width: 100%;}

.container.project-details table tr:first-child td{border-top:0}
.container.project-details table tr:first-child th{border-left:0;border-top:0}
.container.project-details table tr th:first-child{border-left:0;}
.container.project-details table th{border:2px solid #333;border-bottom:0;border-right:0;padding:10px;font-weight: 700;background: #f5cece}
.container.project-details table td{border:2px solid #333;border-bottom:0;border-right:0;padding:10px}
.swiper-wrapper{position: relative;width: 100%;height: 100%;z-index: 1; display: block;white-space: nowrap;}
.swiper-slide{text-align: center;display: inline-block;vertical-align:middle;height: 100%;width: 100%;}
.swiper-slide img{max-width: 100%;max-height: 100%;transform: translate( 0 ,-50%);
  position: relative;
  top: 50%;}
.swiper-container {
  position: relative;z-index: 1;overflow: hidden;
  max-width: 800px;margin: 0 auto 5vh;
  width:100%;height: 400px;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: .7;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #fd8585;
}


.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: .3s opacity;
  -o-transition: .3s opacity;
  transition: .3s opacity;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  z-index: 10;
}
.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 44px 44px;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: 10px;
  right: auto;
  background-image: url(/img/next.png); 
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
  background-image: url(/img/prev.png);
}
.swiper-button-disabled{opacity: 0.2;}
@media screen and (max-width: 600px) {
  nav .btn-menu{right: 0;background: rgba(255, 221, 221, 0.5);}
  .container.home .slide ul li a h2 em{font-size: 40px;letter-spacing: 0;}
  .container.about .inner{padding: 50px 5%}
  .container.about .inner p{font-size: 13px;line-height: 16px}

  .container.about .about_list ul li .year_box .year{font-size: 14px}
  .container.about .about_list ul li .year_box .year_text{font-size: 13px;line-height: 18px;}
  .container.about .about_list ul li.left_box .year_box {padding: 10px 50px 10px 0;}
  .container.about .about_list ul li.right_box .year_box {padding: 10px 0 10px 50px;}
  .container.project-details table{font-size: 11px;line-height: 16px;}
  .container.project .card .card-content{font-size: 13px;line-height: 18px; padding: 15px;}
  .container.project .card .card-content .card-title{font-size: 15px} 
  .container.project .card .card-content .more-view{padding: 0 10px}
  .container.project .card .card-content .more-view em{font-size: 13px;line-height: 28px;height: 27px;}
  .container.project .card .card-content .more-view:before{width: 100%;}
  .container.project .card .card-content .more-view:after{height: 100%;}
  .container.project .card .card-content .more-view em:before{width: 100%;}
  .container.project .card .card-content .more-view em:after{height: 100%;}

  .swiper-button-next, .swiper-button-prev { width: 36px;height: 36px; background-size: 36px 36px}
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {left: 1px;}
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {right: 1px;}

  
}